body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: #264653;
}
.para{
    color: #E0E0E0;
    font-weight: 300;
}
.button{
    background-color: #E76F51;
}
.g-scale{
    filter: grayscale(1);
}
.heading{
    font-size: 48px;
}
.h-span{
    color: #E76F51;
}
.star{
    color: #E77C40;
}
.client{
    color: #23A6F0;
}
.happy-c-3{
    width: 150px;
    height: 200px;
    border-radius: 50%;
}
.ride{
    background-color: #0EBF7F;
}